@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #123b63;

  --primary: #005a9c;
  --primary-dark: #123b63;

  --secondary: #f5f7f9;

  --border: #dce3ea;

  --max-width: 1400px;

  --radius: 14px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}